<body>
<meta name="viewport" content="width=device-width, initial-scale=1" />  
    
    <link rel="stylesheet" href="https://campbellhc.github.io/engagehireclix/stylesheets/bootstrap.min.css">
<link rel="stylesheet" href="https://campbellhc.github.io/alternate/px-hologram/main/assets/css/hanover-main.css" />
    
    <!-- Header --> <!-- Banner -->
<section id="banner"><header class="major"><img style="width:200px" src="https://raw.githubusercontent.com/hireclix/hchosting/gh-pages/images/hanover/Hanover-logo.png"/>
<h1 style="font-size: 24px;">The Best Company for <br />Outstanding Professionals.</h1>
<p>Join Our Talent Community Today</p>
</header>
<ul class="actions">
<li><a class="button lightbox" href="#join-us">Join Here</a></li>
</ul>

</section>
<!-- One -->
<section id="one" class="wrapper style1 special">   
<div class="inner"><header class="major alt style2">
<h2>Proud history. Smart Growth.</h2>
<p>Join our winning culture and help us <br>advance our journey to be the best company in our business.</p>
</header><br>
<div id="video-close"></div>
<img class="img-rounded" src="https://raw.githubusercontent.com/hireclix/hchosting/gh-pages/images/hanover/great-people-build.jpg">    
<section class="split">
<article>    
<p><br>The Hanover is proud to be among the top 25 property and casualty insurers in the United States. The company employs more than 5,000 dedicated and experienced professionals who are focused on a single vision to create a world class property and casualty company.<br><br>

Over the course of its 160 year history, The Hanover has established one of the longest and proudest records in the industry.</p>
</article>
<article class="hanover">
<p><br>Today, The Hanover offers a wide range of insurance products and services to individuals, families and businesses through an extensive network of some of the very best independent agents in the country. <br><br><br>Join our winning culture and help us advance our journey to be the best company in our business.</p>
</article>
</section>
<ul class="actions">
<li><a class="button" href="#video-lb">Learn More</a></li>
</ul>    
</div>
</section>
<!-- Two -->
<section id="two" class="wrapper style3 special">
<div class="inner"><header class="major">
<h2>Testimonials</h2>
<p>See Yourself at the Hanover</p>
</header>
<section class="spotlights">
<section><img class="img-circle" src="https://campbellhc.github.io/engagehireclix/logos/hanover_avatar.png" width="125px" />
<p><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla imperdiet, lorem in pretium aliquet, lacus dui tristique lacus, vel convallis justo lectus in augue. Tempus pellentesque iaculis imperdiet et elementum.</p>
<h4 style="color: #7BAA38; margin-bottom: 0;">Current Employee</h4>    
<h6>Job Title</h6> 
</section>
<section><img class="img-circle" src="https://campbellhc.github.io/engagehireclix/logos/hanover_avatar.png" width="125px" />
<p><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla imperdiet, lorem in pretium aliquet, lacus dui tristique lacus, vel convallis justo lectus in augue. Tempus pellentesque iaculis imperdiet et elementum.</p>
<h4 style="color: #7BAA38; margin-bottom: 0;">Current Employee</h4>
<h6>Job Title</h6>    

</section>
</section>
</div>
</section>


<!-- Five -->
<section id="five" class="wrapper style1 special alt">
<div class="inner">
<h4>Start Your Journey</h4>
<p>Where great people build successful careers. Whether you are early in your career, or a seasoned professional, you will find attractive growth and development opportunities at The Hanover.</p>
<ul class="actions">
    <li><a class="button" href="#join-us">Connect Today</a></li>
<li><a class="button" href="http://jobs.hanover.com/search?q=" target="_blank">Apply Today</a></li>
</ul>
</div>
</section>
<!-- Footer --><footer id="footer">
<ul class="alt-icons">
<li><a class="icon fa-twitter" href="https://twitter.com/The_Hanover" target="_blank"><span class="label">Twitter</span></a></li>
<li><a class="icon fa-facebook" href="https://www.facebook.com/hanoverinsurance" target="_blank"><span class="label">Facebook</span></a></li>
<li><a class="icon fa-linkedin" href="https://www.linkedin.com/company/the-hanover-insurance-group" target=""><span class="label">LinkedIn</span></a></li>
<li><a class="icon glassdoor" href="https://www.glassdoor.com/Overview/Working-at-The-Hanover-Insurance-Group-EI_IE3664.11,38.htm" target="_blank"><img class="swap" src="https://dl.dropbox.com/s/fksej6ijnl76hn7/glassdoor.svg?dl=0">
    <img class="swapped" src="https://dl.dropbox.com/s/s8taxpdnhfmygtu/glassdoor-hover.svg?dl=0"></a></li>
</ul>
<ul class="menu">
<li><a href="http://www.hanover.com/terms-and-conditions.html" target="_blank">Terms and Conditions</a></li>
<li><a href="http://www.hanover.com/privacy-policy.html" target="_blank">Privacy Policy</a></li>
<li><a href="http://www.hanover.com/contact.html" target="_blank">Contact Us</a></li>
</ul>
<p class="copyright">&copy; 2016 The Hanover Insurance Group, Inc. All rights reserved</p>
</footer>
<!-- Join Us Lightbox -->    
<div id="join-us" class="lightbox-target">
<div class="join-us">    
<div style="max-width: 300.0px; background-color: #ffffff; margin: 0 auto;"><input style="font-size: 12px; color: #ffffff; text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.3); border: none; padding: 1px 2px; text-align: center; background-color: #3d87cf; border-radius: 3px; display: inline-block; width: 260px; height: 390px;" type="button" value="[Join-Us-App]" disabled="disabled" /></div>
</div>   
<a class="lightbox-close" href="#">&nbsp;</a>    
</div>

<!-- Video Lightbox -->    
<div id="video-lb" class="lightbox-target">
<iframe src="https://www.youtube.com/embed/BHzoM95sfGU" allowfullscreen="allowfullscreen" width="500" height="281">  </iframe>  
<a class="lightbox-close" href="#video-close">&nbsp;</a>    
</div>    
</body>
